// colors
$color-body: #ebebeb;
$color-white: #ffffff;
$color-black: #333333;
$color-grey: #999999;
$color-grey-2: #eeeeee;
$color-button: #3483FA;
$color-yellow: #FFE600;

// font size
$font-size-13: 13px;
$font-size-16: 16px;
$font-size-22: 22px;
$font-size-30: 30px;

